In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
sns.set()

import datetime

In [55]:
df = pd.read_csv("thursday.csv")

In [56]:
df.sample()

,tmstmp,typ,stpnm,stpid,vid,dstp,rt,rtdd,rtdir,des,...,tablockid,tatripid,origtatripno,dly,dyn,prdctdn,zone,psgld,stst,stsd
1012867,20211028 10:09,A,Intramural Building Outbound,S007,3045.0,11816,CN,CN,NORTHBOUND,Glazier Way,...,104COM,333140,333140,False,0,24,NaN,NaN,37800,2021-10-28

In [57]:
df.stpnm.unique()

array(['Baits II Inbound', 'Bursley Hall Inbound',
       'Hayward/Hubbard  Hubbard Outbound', 'Glen/Catherine Outbound',
       'Fuller Rd at Mitchell Field  Lot M-75',
       'Central Campus Transit Center: Ruthven Museum',
       'Pierpont Commons  Murfin Outbound', 'FXB Inbound',
       'Cooley Lab Inbound', 'Northwood I Outbound',
       'NCAC, Hubbard Outbound',
       'Fuller Rd at Lot NC-78  Mitchell Field (1)', 'Northwood V (3)',
       'Power Center', 'Glen/Catherine Inbound',
       'Pierpont Commons  Bonisteel Inbound', 'Cardiovascular Center',
       'NCAC  Hubbard Inbound', 'Hayward/Hubbard  Hubbard Inbound',
       'Plymouth Rd Crosswalk', 'Northwood Community Center',
       'Northwood III Outbound', 'Northwood II Outbound',
       'Stockwell Hall Outbound', 'Rackham Bldg',
       'Central Campus Transit Center: Chemistry', 'Couzens Hall',
       'Cancer Center Inbound', 'Mott Hospital', 'Markley Hall',
       'Taubman Outbound', 'Cancer Center Outbound', 'Taubman Inbound',
       'Maiden Lane', 'Wall St Structure', 'Glazier Way  Lot NC-51  West',
       'Glazier Way  Lot NC-51  North', 'Glazier Way  Lot NC-51  East',
       'Fuller Rd at Lot NC-78  Mitchell Field (3)',
       'VA Hospital  Fuller Rd', 'Art & Architecture', 'FXB Outbound',
       'Crisler Center/Lot SC-7', 'Facilities Services Building',
       'Intramural Building Outbound', 'Law Quad',
       'Michigan Union  S. State', 'Kraus Building',
       'Hayward/Hubbard  Hayward Outbound', 'North Ingalls Building',
       'Biomedical Science Research Bldg',
       'Institute for Continuing Legal Education', 'NCRC South',
       'Biomedical Engineering Bldg', 'Green Rd Park & Ride Outbound',
       'Oxford Housing', 'East Quad  Church', 'Henderson House'],
      dtype=object)

In [58]:
df.rt.unique()

array(['BB', 'NW', 'WX', 'MX', 'CN', 'CS', 'WS', 'NE', 'NX', 'DD', 'CSX'],
      dtype=object)

# Let's look at what routes are there

In [59]:
df.tmstmp = pd.to_datetime(df.tmstmp)

In [61]:
stoptimes = df[df.rt.eq("BB") & df.rtdir.eq("NORTHBOUND") & df.stpnm.eq("Central Campus Transit Center: Chemistry")].groupby([df.tmstmp.dt.date, "tatripid"]).agg("last")

# Questions

1. Which bus route is most frequent when going to North from CCTC?
2. Or going south from North campus?
3. What about each stop (all of the other stops?)
4. Which bus routes are slower than they should be? Faster???
5. How frequently are there big gaps vs very small gaps?
6. How long for a bus? any bus? please!!!
7. What bus stops do you have to wait the longest?

In [62]:
stoptimes

                                 tmstmp typ  \
tmstmp     tatripid
2021-10-24 325675   2021-10-24 23:58:00   D
           325676   2021-10-24 23:58:00   D
           325677   2021-10-24 23:39:00   D
           325678   2021-10-24 23:30:00   D
           325679   2021-10-24 23:14:00   D
...                                 ...  ..
2021-10-28 326065   2021-10-28 08:32:00   D
           326066   2021-10-28 08:11:00   D
           326067   2021-10-28 07:54:00   D
           326068   2021-10-28 07:29:00   D
           326069   2021-10-28 07:12:00   D

                                                        stpnm stpid     vid  \
tmstmp     tatripid
2021-10-24 325675    Central Campus Transit Center: Chemistry  C250  3019.0
           325676    Central Campus Transit Center: Chemistry  C250  3018.0
           325677    Central Campus Transit Center: Chemistry  C250  3019.0
           325678    Central Campus Transit Center: Chemistry  C250  3018.0
           325679    Central Campus Transit Center: Chemistry  C250  3019.0
...                                                       ...   ...     ...
2021-10-28 326065    Central Campus Transit Center: Chemistry  C250  3062.0
           326066    Central Campus Transit Center: Chemistry  C250  3064.0
           326067    Central Campus Transit Center: Chemistry  C250     NaN
           326068    Central Campus Transit Center: Chemistry  C250  3062.0
           326069    Central Campus Transit Center: Chemistry  C250  3064.0

                      dstp  rt rtdd       rtdir      des           prdtm  \
tmstmp     tatripid
2021-10-24 325675    13982  BB   BB  NORTHBOUND  Baits I  20211025 00:15
           325676       86  BB   BB  NORTHBOUND  Baits I  20211025 00:00
           325677       30  BB   BB  NORTHBOUND  Baits I  20211024 23:45
           325678       89  BB   BB  NORTHBOUND  Baits I  20211024 23:30
           325679      -50  BB   BB  NORTHBOUND  Baits I  20211024 23:15
...                    ...  ..  ...         ...      ...             ...
2021-10-28 326065      -11  BB   BB  NORTHBOUND  Baits I  20211028 08:35
           326066     1461  BB   BB  NORTHBOUND  Baits I  20211028 08:15
           326067        0  BB   BB  NORTHBOUND  Baits I  20211028 07:55
           326068       30  BB   BB  NORTHBOUND  Baits I  20211028 07:35
           326069      734  BB   BB  NORTHBOUND  Baits I  20211028 07:15

                    tablockid  origtatripno    dly  dyn prdctdn  zone  psgld  \
tmstmp     tatripid
2021-10-24 325675       411BB        325675  False    0      15   NaN    NaN
           325676       412BB        325676  False    0     DUE   NaN    NaN
           325677       411BB        325677  False    0       4   NaN    NaN
           325678       412BB        325678  False    0     DUE   NaN    NaN
           325679       411BB        325679  False    0     DUE   NaN    NaN
...                       ...           ...    ...  ...     ...   ...    ...
2021-10-28 326065       202BB        326065  False    0     DUE   NaN    NaN
           326066       203BB        326066  False    0     DUE   NaN    NaN
           326067       201BB        326067  False    0     DUE   NaN    NaN
           326068       202BB        326068  False    0       5   NaN    NaN
           326069       203BB        326069  False    0     DUE   NaN    NaN

                      stst        stsd
tmstmp     tatripid
2021-10-24 325675    87300  2021-10-24
           325676    86400  2021-10-24
           325677    85500  2021-10-24
           325678    84600  2021-10-24
           325679    83700  2021-10-24
...                    ...         ...
2021-10-28 326065    30900  2021-10-28
           326066    29700  2021-10-28
           326067    28500  2021-10-28
           326068    27300  2021-10-28
           326069    26100  2021-10-28

[706 rows x 20 columns]

In [63]:
stoptimes.index.names = ["date", "tatripid"]
# stoptimes.tmstmp.reset_index(level=1)

In [64]:
stoptimes.tmstmp.reset_index(level=1).groupby("date").agg(lambda x: x.sort_values().diff().mean())

            tatripid                    tmstmp
date
2021-10-24  1.000000           0 days 00:13:40
2021-10-25  2.364706 0 days 00:08:27.882352941
2021-10-26  1.016760 0 days 00:07:52.625698324
2021-10-27  1.016760 0 days 00:07:52.290502793
2021-10-28  1.109756 0 days 00:07:24.146341463

In [65]:
stoptimes.tmstmp.reset_index(level=1).groupby("date").agg(lambda x: x.sort_values().diff().mean())

            tatripid                    tmstmp
date
2021-10-24  1.000000           0 days 00:13:40
2021-10-25  2.364706 0 days 00:08:27.882352941
2021-10-26  1.016760 0 days 00:07:52.625698324
2021-10-27  1.016760 0 days 00:07:52.290502793
2021-10-28  1.109756 0 days 00:07:24.146341463

In [66]:
nx_at_cctc = stoptimes.tmstmp.reset_index(level=1)

In [67]:
waittimes = stoptimes.tmstmp.reset_index(level=1).groupby("date").agg(lambda x: x.sort_values().diff())
waittimes = waittimes.reset_index()
waittimes
waittimes = pd.concat([waittimes.drop(['tmstmp'], axis=1), waittimes['tmstmp'].apply(pd.Series)], axis=1)
waittimes = waittimes.melt(id_vars=["date"])
waittimes = waittimes[["date", "value"]]
waittimes["value"] = waittimes.value.dt.total_seconds()/60
waittimes["zscores"] = (waittimes["value"] - waittimes["value"].mean())/waittimes["value"].std()
waittimes = waittimes[waittimes.zscores < 3]
waittimes.value.mean()
#sns.displot(data=waittimes.value)

6.29842180774749

In [ ]:
sns.distplot(nx_at_cctc_tds.dt.seconds / 60)

In [ ]:
nx_at_cctc_tds = nx_at_cctc[nx_at_cctc.tmstmp.dt.date.eq(datetime.date(2021, 10, 25))].tmstmp.sort_values().diff()[1:]

In [ ]:
stoptimes.tmstmp.reset_index(level=1).groupby("date").

In [ ]:
stoptimes.reset_index(drop=True).sort_values("tmstmp", ascending=True).tmstmp.diff().iloc[1:].mean()

In [ ]:
pd.to_datetime(df.tmstmp).dt.date.unique()

In [ ]:
stoptimes[["tmstmp", "prdtm"]]

In [ ]:
stoptimes.predicted = pd.to_datetime(stoptimes.prdtm)
stoptimes.timestamp = pd.to_datetime(stoptimes.tmstmp)

In [ ]:
stoptimes.reset_index().to_csv("cc-cctc-stoptimes.csv", index=False)

In [ ]:
stoptimes.timestamp.dt.date

In [ ]:
stoptimes.groupby(stoptimes.timestamp.dt.date).first()

In [ ]:
stoptimes.groupby(stoptimes.timestamp.dt.date).groups

In [ ]:
df[df.rt.eq("NWL")].stpnm.unique()